.button-sticky-language {
    position: fixed;
    bottom: 6vh;
    right: 3vw;
    color: white;
    font-size: 20px;
    background-color: transparent;
    border: none;
    outline:none;
    z-index:1000;
}

.button-sticky-language:hover {
    cursor: pointer;
    font-weight: bold;
}

.button-sticky-language:focus {
    border: none;
    outline:none;
}