.candidates-joinus {
  height: auto;
  position: relative;
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
}

.candidates-joinus-title-container {
  color: white;
  font-size: 30px;
}

.candidates-joinus-btn-container {
  width: 100%;
  font-size: 40px;
  font-weight: bold;
  min-height: 75px;
  padding-bottom: 30px;
}

.candidates-joinus-btn {
  margin: auto;
  cursor: pointer;
  border: 1px solid #4F72B8;
  border-radius: 8px !important;
  font-size: 30px;
  width: 22%;
  height: 80px;
  background-color: #13191E;
  color: white !important;
  transition: 0.3s;
}

@media (max-width: 610px) {
  .candidates-joinus-btn {
    width: 40%;
    font-size: 25px;
    height: 65px;
  }
}

.candidates-joinus-btn:hover {
  border: 1px solid #13191E;
  background-color: #4F72B8;
}
