.candidates-info-container {
    height: auto;
    background: url(../../../images/github_pattern.svg) top left/auto repeat fixed, linear-gradient( 20deg, rgba(28, 35, 41, 1) 50%, rgba(232, 75, 119, 0.9) 100%);
}

.info-container {
    margin-bottom: 100px;
    padding-top: 40px;
    padding-bottom: 40px;
    color: white;
    left: 50%;
    right: 5%;
    background-color: rgba(232, 75, 119, 1);
}

.main-text-candidates {
    color: rgba(255, 255, 255, 0.9);
    font-size: 3vh;
    text-transform: none;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    padding-bottom: 0%;
}

.title-text-banner {
    color: rgba(255, 255, 255, 0.9);
    font-size: 7vh;
    padding-left: 10%;
    padding-right: 10%;
    text-transform: none;
}
