.info-container {
  color: white;
  background-color: rgb(232, 75, 119);
  padding-top: 5%;
  padding-bottom: 5%;
}

.info-container h2 {
  margin-bottom: 2rem;
}

.info-container p {
  font-size: 2.5vh
}
