.home-carousel {
      position: relative;
      height: 100%;
      background-color: #191E23;
}

.card-image-container{
      position: absolute;
      top: 10%;
      height: 80%;
      background-color: #191E23;
}

.card-image{
      display: block;
      margin:auto;
}