.home-carousel{
      background-color:  rgb(10, 15, 20);
}
.card-image-container{
      position: relative;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      height:95vh;
      background-color: transparent;
}

.card-image-container > img{
      max-height: 95vh;
      overflow: hidden;
      margin:auto;
}
