.contact-donations-container {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
  background: top left/auto repeat fixed #6a2c94;
}

.donations-title {
  justify-content: center;
  text-align: center;
  font-size: 23px;
  color: white;
}

.donations-step-container {
  padding-bottom: 15px;
  padding-top: 15px;
  justify-content: center;
  text-align: center;
  color: white;
}

.donations-step {
  display: flex;
  height: 55px;
  width: 55px;
  border-radius: 50%;
  font-size: 25px;
  justify-content: center;
  align-items: center;
  background-color: #1C2329;
}

.donations-text {
  padding: 10px;
  font-size: 16px;
  justify-content: center;
  text-align:center;
}
