.candidates-header {
  height: 100%;
  position: relative;
  background: linear-gradient( 45deg, rgba(20, 18, 19, 0.9) 10%, rgba(232, 75, 119, 0.9) 100%), url(../../../images/github_pattern.svg) top left/auto repeat fixed;
  color: #fff;
}

.candidates-header .main-text-candidates {
  color: rgba(255, 255, 255, 0.9);
  font-size: 3vh;
  text-transform: none;
  padding-top: 2%;
  padding-bottom: 0%;
}

.title-text-banner {
  color: rgba(255, 255, 255, 0.9);
  font-size: 7vh;
  text-transform: none;
}

.candidates-header .candidates-header-footer {
  font-size: 2.5vh;
  text-transform: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: absolute;
  bottom: 5vh;
  left: 0;
  right: 0;
  margin-left:auto;
  margin-right:auto;
}

.candidates-header .candidates-header-footer p {
  margin: 0;
}

.candidates-header .candidates-header-footer .icon-btn {
  cursor: pointer;
  color: rgb(232, 75, 119);
  font-size: 30px;
}

.candidates-header .candidates-header-footer .icon-btn:hover {
  color: rgb(196, 63, 101);
}
