.home-sponsors-container {
  padding: 3vh 0;
}

.single-sponsor .sponsor-image {
  max-height: 15vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.single-sponsor .img-filter {
  opacity: 0;
  background: rgba(250, 250, 250, 0.4);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  transition: 0.4s;
}

.single-sponsor:hover .img-filter {
  opacity: 0.7;
}

@media (max-width: 1024px){

  .single-sponsor .sponsor-image {
    max-height: 8vh;
  }
}

@media (max-width: 768px){

  .single-sponsor .sponsor-image {
    max-height: 15vh;
  }
}
