/* ----------------------------------------------------------------------------------- */
/* MembersModal styles */
/* ----------------------------------------------------------------------------------- */
.row {
  margin: 0;
  padding: 0;
}

.member-modal-container {
  width: 100vw;
  margin: 0;
  padding: 0;
  background: #000;
}

.member-modal-container .container-helper {
  background:
    linear-gradient(
      90deg,
      rgba(19, 25, 30, 0.8) 40%,
      rgba(10, 15, 20, 0.8) 100%
    ),
    url(../../../../images/github_pattern_white.svg) top left repeat fixed;
}

.main-modal-row {
  height: 100%;
}

.image-col {
  display: flex;
  align-items: center;
}

.image-cropper {
  width: 22vw;
  height: 22vw;
  overflow: hidden;
  border-radius: 50%;
}

.modal-member-image {
  height: 100%;
  transform: translateX(-11%);
}

.main-modal-row .information-col {
  background: rgb(10, 15, 20);
}


.main-modal-row .information-col .information-container {
  padding: 0%;
}

.main-modal-row .information-col h2 {
  color: rgb(20, 183, 191);
}

.main-modal-row .information-col p {
  color: rgba(255, 255, 255, 0.9);
  margin: 0;
}

.main-modal-row .information-col p strong {
  font-size: 20px;
}

.main-modal-row .information-col .member-modal-btn {
  color: rgba(255, 255, 255, 0.9);
  font-size: 18px;
  text-transform: none;
}

.member-username {
  margin-left: 8px;
}

.main-modal-row .icon-small {
  color: rgba(255, 255, 255, 0.9);
  font-size: 18px;
  text-transform: none;
}

@media (min-width: 993px) {
  .main-modal-row .information-col {
    width: 100vw;
    height: 100vh;
  }

  .member-modal-container .container-helper {
    width: 100vw;
    height: 100vh;
  }
}

@media (max-width: 992px) {
  .image-col {
    padding-left: 27%;
  }

  .main-modal-row .information-col {
    width: 100vw;
    background:
    linear-gradient(
      90deg,
      rgba(19, 25, 30, 0.7) 40%,
      rgba(10, 15, 20, 0.7) 100%
    );
    max-height: 40vh;
  }

  .image-cropper {
    width: 35vh;
    height: 35vh;
  }

  .description-small {
    color: rgba(255, 255, 255, 0.9);
    text-align: center;
    padding: 7%;
    font-size: 2.6vw;
    background: rgb(10, 15, 20);
    min-height: 50vh;
  }

  .name-small {
    color: rgb(20, 183, 191);
  }

  .main-modal-row .icon-small {
    font-size: 2.3vw;
  }

  .close-button {
    width: 100vw;
    height: 10vh;
    background:
    linear-gradient(
      90deg,
      rgba(19, 25, 30, 0.7) 40%,
      rgba(10, 15, 20, 0.7) 100%
    );
    padding-left: 80vw;
    padding-top: 3vh;
  }
}

@media (max-width: 414px) {
  .image-col {
    padding-left: 12vw;
  }

  .description-small {
    font-size: 2vh;
  }

  .main-modal-row .icon-small {
    font-size: 2.5vh;
  }
}