.projects-other {
    height: 100%;
    position: relative;
    padding-bottom: 10vh;
    background: linear-gradient(0deg, black 50%, white 50%);
  }

  .other-info {
      padding: 10vw;
      padding-top: 15vh;
      padding-bottom: 5vh;
  }
  
  .description-other {
    font-size: 3vh;
    text-transform: none;
    padding-top: 2%;
    padding-bottom: 0%;
    color: black;
  }
  
  .title-text-other {
    font-size: 7vh;
    text-transform: none;
    color: black;
  }

  .project-title {
    font-size: 3vh;
    text-align: center;
    color: black;
    height: 5vh;
    background-color: white;
    width: 20.1vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .projects-other-grid {
    /* background-color: chartreuse; */
    width: 100%;
    display: block;
    cursor: pointer;
    overflow: hidden;
    padding-left: 8vw;
    padding-right: 8vw;
    background: linear-gradient(0deg, black 50%, white 50%);
    padding-bottom: 1vh;
  }

  .other-project-image {
    background-color: rgba(0, 0, 0, 0.5);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 22vw;
    height: 37vh;
    border-top: 1vw solid black;
    border-left: 1vw solid black;
    border-right: 1vw solid black;
    object-fit: cover;
  }

  @media (max-width: 768px) {
    .title-text-other {
      text-align: center;
      color: white;
      font-size: 7vh;
    }

    .other-info {
      padding: 10vw;
      padding-top: 5vh;
      padding-bottom: 1vh;
    }

    .description-other {
      font-size: 3vw;
      text-align: center;
      color: white;
    }

    .other-project-image {
      height: 23vh;
      border: 0;
      width: 100%;
      padding: 0;
      background-color: transparent;
    }

    .projects-other {
      padding: 0;
      background: black;
      color: white;
    }

    .project-title {
      height: 23vh;
      width: 100%;
      font-size: 4vw;
      text-align: center;
      padding-top: 8vh;
      background-color: transparent;
    }
  }

  
  