.members-header {
	height: 100%;
	position: relative;
	background:
		linear-gradient(
			45deg,
			rgba(20, 183, 191, 0.9) 30%,
			rgba(0, 94, 105, 0.9) 100%
		),
		url(./images/pattern.png) top left/auto repeat fixed;
	color: rgba(255, 255, 255, 0.8);
	text-align: center;
}