.contact-sponsor-us {
  background: url(../../../images/github_pattern.svg) top left/auto repeat fixed #1C2329;
  color: white;
  padding-bottom: 105px;
  padding-top: 105px;
  text-align: center;
}

.contact-sponsor-us-btn {
  background-color: #13191E;
  border: 1px solid #4F72B8;
  border-radius: 8px;
  color: #FFF;
  font-size: 30px;
  height: 80px;
  min-width: 220px;
  transition: 0.3s;
  width: 70%;
}

.contact-translate-sponsor-us-btn {
  background-color: #13191E;
  border: 1px solid #4F72B8;
  border-radius: 8px;
  color: #FFF;
  font-size: 20px;
  height: 40px;
  min-width: 195px;
  transition: 0.3s;
  width: 80%;
}

@media (max-width: 768px) {
  .contact-sponsor-us-btn {
    font-size: 25px;
    width: 30%;
  }

  .contact-translate-sponsor-us-btn {
    font-size: 16px;
    width: min-content;
  }
}

@media (max-width: 610px) {
  .contact-sponsor-us-btn {
    font-size: 25px;
    height: 65px;
    margin-top: 10px;
    width: 40%;
  }
}

.contact-sponsor-us-btn:hover {
  background-color: #4F72B8;
  border: 1px solid #13191E;
  color: #FFF;
}

.contact-translate-sponsor-us-btn:hover {
  background-color: #4F72B8;
  border: 1px solid #13191E;
  color: #FFF;
}