.members-grid {
  background: rgba(20, 18, 19);
  min-height: 100%;
  width: 100%;
  transform: translate(0.2%, 0%);
}

.members-grid-container {
  background: rgba(20, 18, 19);
  width: 100%;
  padding: 0.5%;
}

.grid-title {
  position: relative;
  padding: 6% 0 2%;
  color: rgba(255, 255, 255, 0.8);
  background: rgba(20, 18, 19);
  text-align: center;
}

.grid-title-text {
  font-size: 3vw;
}

.members-grid .members-grid-tile .member-image {
  height: 100%;
  transition: 0.4s;
  width: 100%;
}

.members-grid .members-grid-tile:hover .member-image {
  cursor: pointer;
  left: 0;
  top: 0;
  transform: scale(1.2);
}

@media (max-width: 768px) {
  .grid-title-text {
    font-size: 3vh;
  }
}
