#app-navbar {
  height: 48px;
  padding: 0 1px 0 0;
  width: 100%;
}

#app-navbar .navbar-brand {
  margin-left: 20px;
  margin-right: 20px;
}

#app-navbar #navbar-logo {
  max-width: 35px;
  max-height: 35px;
}

#app-navbar #responsive-navbar {
  height: 100%;
}

#app-navbar .navbar-toggler {
  margin-left: 20px;
  margin-right: 20px;
}

@media only screen and (max-width : 992px) {
  #app-navbar .navbar-nav {
    height: 100%;
    width: 100%;
    align-items: center;
    background-color: rgb(25, 30, 35);
  }
}

#app-navbar .navbar-nav {
  height: 100%;
  width: 100%;
  align-items: center;
}

#app-navbar .navbar-nav .navbar-btn {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 13px;
}

#app-navbar .navbar-nav .navbar-btn.active {
  color: rgb(0, 225, 250);
  border-bottom: 2px solid;
}

#app-navbar .navbar-nav .navbar-btn-legegnd {
  transition: 0.2s;
  transform: translateY(4px);
  color: rgba(255, 255, 255, 0.8);
}

#app-navbar .navbar-nav .navbar-btn:hover .navbar-btn-legend {
  transform: translateY(1px);
  color: rgb(0, 225, 250);
}

#app-navbar .navbar-nav .navbar-btn.active .navbar-btn-legend {
  color: rgb(0, 225, 250);
}

#app-navbar #navbar-sponsor-logo {
  max-width: 110px;
  float: right;
  margin-top: -6.5%;
  padding-left: 4px;
}

#app-navbar #navbar-legend-div {
  color: #888B8D;
  height: 48px;
  vertical-align: middle;
  display: inline-block;
  font-size: 19px;
  padding-top: 8px;
}

@media all and (min-width: 992px){

  #app-navbar #navbar-legend-div {
    position: absolute;
    right: 2px;
  }
}