#app-navbar {
	height: 48px;
	padding: 0px;
}

#app-navbar #navbar-logo {
	width: 35px;
	height: 35px;
	margin-left: 5px;
	margin-right: 5px;
}

#app-navbar #responsive-navbar {
	height: 100%;
}

#app-navbar .navbar-nav {
	height: 100%;
	width: 100%;
	align-items: center;
	background-color: rgb(25, 30, 35);
}

#app-navbar .navbar-nav .navbar-btn {
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 13px;
}

#app-navbar .navbar-nav .navbar-btn.active {
	color: rgb(255, 165, 0);
	border-bottom: 2px solid;
}

#app-navbar .navbar-nav .navbar-btn-legend {
	transition: 0.2s;
	transform: translateY(4px);
	color: rgba(255, 255, 255, 0.8);
}

#app-navbar .navbar-nav .navbar-btn:hover .navbar-btn-legend {
	transform: translateY(1px);
	color: rgb(255, 165, 0);
}

#app-navbar .navbar-nav .navbar-btn.active .navbar-btn-legend {
	color: rgb(255, 165, 0);
}