button:focus {
  outline: none;
}

.candidates-carousel {
  background: black !important;
}

.candidates-carousel-slide {
  height: 100%;
}

.candidates-header-img-container {
  position: absolute;
  width: 100%;
  height: 100vh;
  max-height: 800px;
  overflow: hidden;
}

.candidates-header-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.65;
}

.candidates-learn-height {
  height: 400px;
  max-height: 400px;
}

.candidates-succeed-height {
  height: 250px;
  max-height: 250px;
}

.candidates-succeed-sm-height {
  height: 200px;
  max-height: 200px;
}

.candidates-succeed-long-height {
  height: 550px;
  max-height: 550px;
}

.grid-background {
  background-color: #000;
  height: 100%;
}

.Carousel-text-titles {
  position: absolute;
  width: 100%;
  text-align: center;
  color: white;
  top: 49%;
  font-weight: bold;
  font-size: 4rem;
  z-index: 1;
  pointer-events: none;
}

@media (max-width: 592px) {
  .candidates-carousel {
    min-height: 100%;
    height: 100%;
  }

  .candidates-carousel-slide {
    height: 100%;
  }

  .Carousel-text-titles {
    top: 48.5%;
    font-size: 3rem;
  }

  .candidates-succeed-sm-height {
    height: 22.8vh;
  }

  .candidates-learn-height {
    height: 46.6vh;
  }

  .candidates-hack-sm {
    height: 65vh;
  }

  .candidates-hack-xs {
    height: 32vh;
  }
}