.footer-container {
  color: rgb(250, 250, 250);
  background-color: rgb(10, 15, 20);
  display: block;
}

.footer-row {
  background-color:  rgb(10, 15, 20);
  width: 100%;
  height: 20vh;
}

.footer-logo {
  width: 40vh;
  height: 20vh;
  object-fit: cover;
  object-position: top;
}

.col-logo {
  padding-left: 0%;
  align-items: left;
  height: 20vh;
}

.footer-col {
  padding-top: 20px;
  height: 20vh;
}

.sitemap-link {
  display: inline-block;
  padding-left: 0.64vw;
  padding-top: 12px;
  text-decoration: none;
  color: rgb(250, 250, 250);
  font-size: 15px;
}

.icon-link {
  display: inline-block;
  text-decoration: none;
  color: rgb(250, 250, 250);
  font-size: 15px;
  padding-right: 0.35vw;
}


.sitemap-link:hover {
  text-decoration: none;
  color: rgb(0, 225, 250);
  background: none;
}

.icon-link:hover {
  text-decoration: none;
  color: rgb(0, 225, 250);
  background: none;
}

.goback-button {
  padding-top: 10px;
  height: 10vh;
}

.go-back-row {
  justify-content: flex-end;
}

.goback-text {
  font-size: 15px;
}

.row-socialMedia{
  padding-left: 0vw;
  height: 6vh;
  padding-top: 0.3vh;
  margin-left: auto;
  margin-right: 0;
}

.mark-text {
  /* display: inline-block; */
  font-size: 15px;
  width: 100%;
  text-align: right;
  padding-right: calc(0.5vw + 5px);
}

@media (max-width: 1170px) {
  .row-socialMedia{
    padding-left: 0.5vw;
  }
}

@media (max-width: 992px) {
  .footer-container {
    height: min-content;
    padding: 0;
  }

  .footer-row {
    height: min-content;
  }

  .col-logo {
    padding: 0;
    height: min-content;
  }

  .footer-logo {
    padding: 0;
    max-width: 100%;
    height: inherit;
    max-height: 257px;
    object-position: 100% 20%;
  }

  .sitemap-container {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    text-decoration: none;
    color: rgb(250, 250, 250);
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: right;
  }

  .sitemap-link {
    padding: 0;
    font-size: 15px;
    padding-right: 3vw;
    float: right;
    min-width: 51%;
  }

  .goback-container {
    text-decoration: none;
    text-align: right;
    color: rgb(250, 250, 250);
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .goback-button {
    float: right;
    padding: 0;
    height: min-content;
    margin-left: auto;
  }

  .goback-button a {
    padding-right: 3vw;
  }

  .goback-text {
    font-size: 15px;
  }

  .goback-text:hover {
    text-decoration: none;
    color: rgb(0, 225, 250);
    background: none;
  }

  .mark-text {
    /* float: right; */
    font-size: 15px;
    padding-right: 3vw;
    padding-top: 1vh;
  }

  .icon-link {
    width: 20%;
    max-width: 45px;
    padding: 0;
    margin: 0;
    padding-top: 1vh;
  }

  .row-socialMedia{
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    text-align: center;
    padding: 0;
    width: 100%;
    height: auto;
    padding-bottom: 5px !important;
    margin-top: -5px !important;
    justify-content: flex-end;
    padding-right: calc(3vw - 5px) !important;
  }
}

@media (max-width: 645px) {
  .footer-logo {
    width: 300px;
  }
}

@media (max-width: 430px) {
  .col-logo {
    height: 100%;
  }

  .footer-logo {
    height: fit-content;
    width: 100%;
  }

  .sitemap-container {
    height: min-content;
  }

  .goback-text {
    font-size: max(3.8vw, 14px);
  }

  .sitemap-link {
    font-size: max(3.6vw, 14px);
  }

  .mark-text {
    font-size: max(3.5vw, 14px);
  }
}

@media (max-width: 430px) {
  .footer-logo {
    width: 100%;
    height: 255px;
  }

  .icon-link {
    min-width: 34px;
  }
}