.packages-card {
  height: 100%;
  background-color: #13191E;
  border-radius: 6px;
  border: none;
  padding-bottom: 40px;
  background-repeat: no-repeat;
  background-image:   linear-gradient(to right, #CB6CE6 100%, #CB6CE6 100%),
                      linear-gradient(to bottom, #CB6CE6 100%, #CB6CE6 100%),
                      linear-gradient(to bottom, #CB6CE6 100%, #CB6CE6 100%),
                      linear-gradient(to right, #CB6CE6 100%, #CB6CE6 100%);
  background-size:    0% 3px,
                      3px 0%,
                      0% 3px,
                      3px 0%;
  background-position:    0 0,
                          100% 0,
                          100% 100%,
                          0 100%;
  animation: bg1 0.75s cubic-bezier(0.19, 1, 0.22, 1) 1;
  animation-play-state: initial;
}

@keyframes bg {
  0% {
      background-size:    0 3px,
                          3px 0,
                          0 3px,
                          3px 0;
  }
  25% {
      background-size:    100% 3px,
                          3px 0,
                          0 3px,
                          3px 0;
  }
  50% {
      background-size:    100% 3px,
                          3px 100%,
                          0 3px,
                          3px 0;
  }
  75% {
      background-size:    100% 3px,
                          3px 100%,
                          100% 3px,
                          3px 0;
  }
  100% {
      background-size:    100% 3px,
                          3px 100%,
                          100% 3px,
                          3px 100%;
  }
}

@keyframes bg1 {
  /* 0% {
      background-size:    0 3px,
                          3px 0,
                          0 3px,
                          3px 0;
  } */
  1% {
    background-size:    95% 3px,
                        3px 95%,
                        95% 3px,
                        3px 95%;
  }
  50% {
      background-size:    100% 3px,
                          3px 0,
                          100% 3px,
                          3px 0;
  }
  100% {
      background-size:    0 3px,
                          3px 0,
                          0 3px,
                          3px 0;
  }
}
.Background-card:hover{
  border: transparent;
}
.packages-card:hover {
  animation-play-state: running;
  background-image:   linear-gradient(to right, #CB6CE6 100%, #CB6CE6 100%),
                      linear-gradient(to bottom, #CB6CE6 100%, #CB6CE6 100%),
                      linear-gradient(to right, #CB6CE6 100%, #CB6CE6 100%),
                      linear-gradient(to bottom, #CB6CE6 100%, #CB6CE6 100%);
  background-size:    100% 3px,
                      3px 100%,
                      100% 3px,
                      3px 100%;
  background-position:    0 0,
                          100% 0,
                          100% 100%,
                          0 100%;
  animation: bg 1.25s cubic-bezier(0.19, 1, 0.22, 1) 1;
  animation-play-state: running;
}

hr {
  border-color: white !important;
}

.benefit-container {
  display: flex;
  flex-direction: row;
  text-align: left;
  margin-bottom: 10px;
}

.benefit-icon {
  color: #CB6CE6;
  font-size: 25px;
}

.benefit-text {
  font-size: 13px;
}

.package-card-footer {
  display: flex;
  position: absolute;
  bottom: 7px;
  left: 0px;
}

.package-card-footer img {
  width: 100%;
}

.package-card-footer .no-padding {
  padding: 10px;
}

@media (min-width: 1500px) {
  .package-card-footer img {
    width: 70%
  }
}
