/*
  TODO: Replace linear-gradient with pattern img.
*/
.about-timeline-container {
  background: black;
  color: white;
}

#timeline-title {
  padding: 35px 0 0 0;
}

.timeline-element-img {
  width: 100%;
  border-radius: 3px;
}

.timeline-element-container {
  padding: 20px;
}
