/*
  TODO: Replace linear-gradient with pattern img.
*/
.about-timeline-container {
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.9) 100%, rgba(61, 61, 61, 0.9) 30%);
  color: white;
}

#timeline-title {
  padding: 20px 0;
}

.timeline-element-img {
  width: 100%;
  border-radius: 3px;
}

.timeline-element-container {
  padding: 20px;
}
