.candidates-open-positions-card {
  cursor: pointer;
  flex-direction: row !important;
  color: black;
  padding: 40px 30px;
  background-color: #13191E;
  border-radius: 6px;
  border: none;
  padding: 40px 30px;
  margin: 0 3% 30px 0;
  width: 47%;
  -webkit-transition: all .3s ease-in, all .3s ease-out;
  transition: all .3s ease-in, all .3s ease-out;
}

.candidates-open-positions-card:hover {
  cursor: pointer;
  -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5) !important;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5) !important;
}

@media (max-width: 990px) {
  .candidates-open-positions-card {
    width: 100%;
    margin-right: 0;
  }
}

.candidates-card-title {
  color: white;
  font-size: xx-large;
  text-align: left;
}

.candidates-card-text {
  color: white;
  text-align: left;
  padding-left: 5px;
}

.candidates-card-column-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-container {
  background: #4F72B8;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-container > svg {
  color: #13191E;
}

@media (max-width: 500px) {
  .candidates-card-title {
    font-size: x-large;
    text-align: left;
    padding-left: 5px;
  }

  .candidates-card-text {
    font-size: small;
    text-align: left;
    padding-left: 5px;
  }
}

@media (max-width: 400px) {
  .candidates-card-image-container {
    position: absolute;
    left: -10px;
    border-radius: 50%;
    width: 57px;
    height: 57px;
    margin-right: 100px;
  }

  .candidates-card-title {
    font-size: x-large;
    text-align: left;
    padding-left: 5px;
  }

  .candidates-card-text {
    font-size: small;
    text-align: left;
    padding-left: 5px;
  }
}

.candidates-open-positions-card {
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.candidates-open-positions-card .candidates-card-column-text-container-overlay {
  height: 100%;
  padding-right: 50px;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 30%;
  opacity: 0;
  background-color: transparent;
  -webkit-transition: all .3s ease-in, all .3s ease-out;
  transition: all .3s ease-in, all .3s ease-out;
}

.candidates-card-column-text-container-overlay-original {
  opacity: 1;
  -webkit-transition: all .3s ease-in, all .3s ease-out;
  transition: all .3s ease-in, all .3s ease-out;
}
