html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Titillium Web', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
               'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
               'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  height: 100%;
  padding-top: 48px;
}



/* ----------------------------------------------------------------------------------- */
/* App styles */
/* ----------------------------------------------------------------------------------- */
.app-container {
  height: 100%;
}

.container-legend {
  position: absolute;
  top: 50%;
  left: 15%;
  right: 15%;
  transform: translate(0%, -50%);
  font-size: 5vw;
}



/* ----------------------------------------------------------------------------------- */
/* Members styles */
/* ----------------------------------------------------------------------------------- */
.members-container {
  height: 100%;
}



/* ----------------------------------------------------------------------------------- */
/* MembersHeader styles */
/* ----------------------------------------------------------------------------------- */
.members-header {
  height: 100%;
  position: relative;
  background:
    linear-gradient(
      45deg,
      rgba(20, 18, 19, 0.9) 30%,
      rgba(0, 94, 105, 0.9) 100%
    ),
    url(./images/github_pattern.svg) top left/auto repeat fixed;
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
}

.main-text-members {
  color: rgba(255, 255, 255, 0.9);
  font-size: 3vh;
  text-transform: none;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 2%;
  padding-bottom: 0%;
}

.title-text-banner {
  color: rgba(255, 255, 255, 0.9);
  font-size: 7vh;
  padding-left: 10%;
  padding-right: 10%;
  text-transform: none;
}

.main-text-members-emphasis {
  padding-top: 2%;
  color: rgba(255, 255, 255, 0.9);
  font-size: 4vh;
  padding-left: 10%;
  padding-right: 10%;
  text-transform: none;
}



/* ----------------------------------------------------------------------------------- */
/* MembersJoinUs styles */
/* ----------------------------------------------------------------------------------- */
.members-join-us {
  height: 60%;
  position: relative;
  background:
    linear-gradient(
      45deg,
      rgba(0, 94, 105, 0.9) 30%,
      rgba(20, 18, 19, 0.9) 100%
    ),
    url(./images/github_pattern.svg) top left/auto repeat fixed;
  color: rgba(255, 255, 255, 0.8);
}

.members-join-us-description {
  color: rgba(255, 255, 255, 0.9);
  font-size: 4vh;
  text-align: center;
  text-transform: none;
}

.members-join-us-button {
  left: 30%;
  width: 28vw;
  height: 12vh;
}

.members-join-us-button-contain {
  position:absolute;
  height: 100%;
  width: 100%;
  border-radius: 8px;
  text-align: center;
  vertical-align:middle;
  border: 2px solid white;
}

.members-join-us-button-text {
  padding-top: 3.7vh;
  color: rgba(255, 255, 255, 0.9);
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  font-size: 3vh;
}

/* ----------------------------------------------------------------------------------- */
/* MembersGrid styles */
/* ----------------------------------------------------------------------------------- */
.members-grid {
  background: rgba(20, 18, 19, 0.9);
  min-height: 100%;
  width: 100%;
  transform: translate(0.2%, 0%);
}

.members-grid .members-grid-tile .member-image {
  height: 100%;
  transition: 0.4s;
  width: 100%;
}

.members-grid .members-grid-tile:hover .member-image {
  cursor: pointer;
  left: 0;
  top: 0;
  transform: scale(1.2);
}



/* ----------------------------------------------------------------------------------- */
/* MembersModal styles */
/* ----------------------------------------------------------------------------------- */
.row {
  margin: 0;
  padding: 0;
}

.member-modal-container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #000;
}

.member-modal-container .container-helper {
  width: 100%;
  height: 100%;
  background:
    linear-gradient(
      90deg,
      rgba(19, 25, 30, 0.8) 40%,
      rgba(10, 15, 20, 0.8) 100%
    ),
    url(images/github_pattern_white.svg) top left repeat fixed;
}

.main-modal-row {
  height: 100%;
}

.image-col {
  display: flex;
  align-items: center;
}

.image-cropper {
  width: 22vw;
  height: 22vw;
  overflow: hidden;
  border-radius: 50%;
}

.modal-member-image {
  height: 100%;
  transform: translateX(-16%);
}

.main-modal-row .information-col {
  background: rgb(10, 15, 20);
}

@media (min-width: 1025px) {
  .main-modal-row .information-col {
    height: 100%;
    display: flex;
    align-items: center;
  }
}

@media (min-width: 320px) and (max-width: 1024px) {
  .main-modal-row .information-col {
    width: 100%;
  }
}

.main-modal-row .information-col .information-container {
  padding: 10px;
  padding: 30px;
  border: 30px;
}

.main-modal-row .information-col h2 {
  color: rgb(20, 183, 191);
}

.main-modal-row .information-col p {
  color: rgba(255, 255, 255, 0.9);
  margin: 0;
}

.main-modal-row .information-col p strong {
  font-size: 20px;
}

.main-modal-row .information-col .member-modal-btn {
  color: rgba(255, 255, 255, 0.9);
  font-size: 18px;
  text-transform: none;
}

.main-modal-row .information-col .member-modal-btn .member-username {
  padding-left: 8px;
}

/* ----------------------------------------------------------------------------------- */
/* About TimeLine styles */
/* ----------------------------------------------------------------------------------- */
/*
  TODO: Replace linear-gradient with pattern img.
*/
.about-timeline-container {
  background:
    linear-gradient(
      45deg,
      rgba(0, 0, 0, 0.9) 100%,
      rgba(61, 61, 61, 0.9) 30%
    );
  color: white;
}

#timeline-title {
  padding: 20px 0;
}

.timeline-element-img {
  width: 100%;
  border-radius: 3px;
}

.timeline-element-container {
  padding: 20px;
}



/* ----------------------------------------------------------------------------------- */
/* Home styles */
/* ----------------------------------------------------------------------------------- */
.home-container {
  height: 100%;
  background: #000;
}



/* ----------------------------------------------------------------------------------- */
/* HomeHeader styles */
/* ----------------------------------------------------------------------------------- */
.home-header {
  width: 100%;
  height: 100%;
  background:
    linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.5) 40%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url(images/home/team_2019.jpg);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  color: #fff;
}

.home-header .row {
  height: 100%;
}

.header-img-col {
  height: 100%;
  padding-top: 30vh;
  display: block;
  margin: auto;
  align-items: center;
  text-align: center;
}

.header-img {
  width: 50vw;
}

.react-rotating-text-cursor {
  animation: blinking-cursor 0.8s cubic-bezier(0.68, 0.01, 0.01, 0.99) 0s infinite;
}

@keyframes blinking-cursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}



/* ----------------------------------------------------------------------------------- */
/* HomeSponsors styles */
/* ----------------------------------------------------------------------------------- */
.home-sponsors-container {
  padding: 3% 0;
  color: rgb(255, 165, 0);
  text-align: center;
  /*
  background:
    linear-gradient(
      90deg,
      rgba(150, 150, 150, 0.2) 40%,
      rgba(150, 150, 150, 0.2) 100%
    ),
    url(images/sponsors_background.jpg);
  background-size: cover;
  */
}

.home-sponsors-container .container-helper {
  width: 100%;
  height: 100%;
}

.single-sponsor .sponsor-image {
  width: 100%;
}

.single-sponsor .img-filter {
  opacity: 0;
  background: rgba(250, 250, 250, 0.4);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  transition: 0.4s;
}

.single-sponsor:hover .img-filter {
  opacity: 0.7;
}



/* ----------------------------------------------------------------------------------- */
/* HomeInformation styles */
/* ----------------------------------------------------------------------------------- */
.image-section {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  height: 60vw;
  text-align: center;
  padding: 10%;
  background-color: #191917;
}

.information-section {
  height: 40vw;
  text-align: center;
  background-color: #2B2C28;
}

.information-title{
  font-size: 5vw;
}

.information-paragraph{
  font-size: 2.5vw;
}

@media (min-width: 992px) {
  .image-section-right {
    height: 25vw;
    background-position: right;
    background-size: 50%;
  }
  .image-section-left {
    height: 25vw;
    background-position: left;
    background-size: 50%;
  }

  .information-section {
    height: 25vw;
  }

  .information-title{
    font-size: 3vw;
  }

  .information-paragraph{
    font-size: 1.2vw;
  }
}

.background-1 {
  background-image: url(images/home/competitions.jpg);
}

.background-2 {
  background-image: url(images/home/social.jpg);
}

.background-3 {
  background-image: url(images/home/events.jpg);
}

.background-4 {
  background-image: url(images/home/students.jpg);
}

.information-col {
  padding: 7%;
  text-align: center;
  background: #191917;
  color: #f5f5f5;
  display: flex;
  align-items: center;
}



/* ----------------------------------------------------------------------------------- */
/* HomeCarousel styles */
/* ----------------------------------------------------------------------------------- */
.home-carousel {
  width: 100%;
  height: 100%;
  background: #000;
  overflow-y: hidden;
}

.carousel-caption {
  margin: 0 auto;
  /* display: flex; */
  align-items: center;
  height: 100%;
}

.carousel-image {
  width: 100%;

}



/* ----------------------------------------------------------------------------------- */
/* Footer styles */
/* ----------------------------------------------------------------------------------- */
.footer-container {
  padding: 2% 0;
  background: rgb(25, 30, 35);
  color: rgb(250, 250, 250);
}

.footer-logo {
  width: 85%;
}

.footer-title {
  color: rgb(0, 225, 250);
}

.footer-container p {
  padding-left: 10px
}

.footer-container .sitemap-link {
  text-decoration: none;
  color: rgb(250, 250, 250);
}

.footer-container .sitemap-link:hover {
  color: rgb(0, 225, 250);
  background: none;
}
