html {
	height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
	height: 100%;
  padding-top: 48px;
}



/* ----------------------------------------------------------------------------------- */
/* App styles */
/* ----------------------------------------------------------------------------------- */
.app-container {
  height: 100%;
}

.container-legend {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



/* ----------------------------------------------------------------------------------- */
/* Members styles */
/* ----------------------------------------------------------------------------------- */
.members-container {
  height: 100%;
}



/* ----------------------------------------------------------------------------------- */
/* MembersHeader styles */
/* ----------------------------------------------------------------------------------- */
.members-header {
  height: 100%;
  position: relative;
  background:
    linear-gradient(
      45deg,
      rgba(20, 183, 191, 0.9) 30%,
      rgba(0, 94, 105, 0.9) 100%
    ),
    url(./images/pattern.png) top left/auto repeat fixed;
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
}



/* ----------------------------------------------------------------------------------- */
/* MembersJoinUs styles */
/* ----------------------------------------------------------------------------------- */
.members-join-us {
  height: 60%;
  position: relative;
  background:
    linear-gradient(
      45deg,
      rgba(214, 81, 146, 0.9) 30%,
      rgba(130, 0, 65, 0.9) 100%
    ),
    url(./images/pattern.png) top left/auto repeat fixed;
  color: rgba(255, 255, 255, 0.8);
}



/* ----------------------------------------------------------------------------------- */
/* MembersGrid styles */
/* ----------------------------------------------------------------------------------- */
.members-grid {
  background: #000;
  min-height: 100%;
}

.members-grid .members-grid-tile .member-image {
  height: 100%;
  transition: 0.4s;
  width: 100%;
}

.members-grid .members-grid-tile:hover .member-image {
  cursor: pointer;
  left: 0;
  top: 0;
  transform: scale(1.2);
}



/* ----------------------------------------------------------------------------------- */
/* MembersModal styles */
/* ----------------------------------------------------------------------------------- */
.row {
  margin: 0;
  padding: 0;
}

.member-modal-container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #000;
}

.member-modal-container .container-helper {
  width: 100%;
  height: 100%;
  background:
    linear-gradient(
      90deg,
      rgba(19, 25, 30, 0.8) 40%,
      rgba(10, 15, 20, 0.8) 100%
    ),
    url(images/github_pattern_white.svg) top left repeat fixed;
}

.main-modal-row {
  height: 100%;
}

.image-col {
  display: flex;
  align-items: center;
}

.image-cropper {
  width: 304px;
  height: 304px;
  overflow: hidden;
  border-radius: 50%;
}

.modal-member-image {
  height: 100%;
  transform: translateX(-16%);
}

.information-col {
  background: rgb(10, 15, 20);
}

@media (min-width: 1025px) {
  .information-col {
    height: 100%;
    display: flex;
    align-items: center;
  }
}

@media (min-width: 320px) and (max-width: 1024px) {
  .information-col {
    width: 100%;
  }
}

.information-col .information-container {
  padding: 10px;
}

.information-col h2 {
  color: rgb(20, 183, 191);
}

.information-col p {
  color: rgba(255, 255, 255, 0.9);
  margin: 0;
}

.information-col p strong {
  font-size: 20px;
}

.information-col .member-modal-btn {
  color: rgba(255, 255, 255, 0.9);
  font-size: 18px;
  text-transform: none;
}

.information-col .member-modal-btn .member-username {
  padding-left: 8px;
}



/* ----------------------------------------------------------------------------------- */
/* Home styles */
/* ----------------------------------------------------------------------------------- */
.home-container {
  height: 100%;
  background: #000;
}



/* ----------------------------------------------------------------------------------- */
/* HomeHeader styles */
/* ----------------------------------------------------------------------------------- */
.home-header {
  width: 100%;
  height: 100%;
  background:
    linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.5) 40%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url(images/team_2019.jpg);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

.header-img {
  width: 100%;
}



/* ----------------------------------------------------------------------------------- */
/* HomeSponsors styles */
/* ----------------------------------------------------------------------------------- */
.home-sponsors-container {
  padding: 5% 0;
  color: rgb(255, 165, 0);
  background:
    linear-gradient(
      90deg,
      rgba(150, 150, 150, 0.2) 40%,
      rgba(150, 150, 150, 0.2) 100%
    ),
    url(images/sponsors_background.jpg);
  background-size: cover;
}

.home-sponsors-container .container-helper {
  width: 100%;
  height: 100%;
}

.home-sponsors-container .sponsor-col {
  /*padding: 0;*/
}

.single-sponsor {
  transition: 0.5s;
  display: inline-block;
  position: relative;
}

.single-sponsor .sponsor-image {
  width: 100%;
  cursor: pointer;
}

.single-sponsor .sponsor-image-top {
  z-index: 100;
  display: none;
}

.single-sponsor:hover .sponsor-image-top {
  display: inline;
}
