.home-information-container-all{
  width: 100%;
}

.home-information-container{
  position: relative;
  width: 100%;
  height: 350px;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.home-information-container-competitions{
  background-position: bottom left;
  background-image: url("../../../images/home/HomeInformation/competitions.jpg");
}

.home-information-container-social{
  background-position: center left;
  background-image: url("../../../images/home/HomeInformation/social.jpg");
}

.home-information-container-events{
  background-position: center left;
  background-image: url("../../../images/home/HomeInformation/events.jpg");
}

.home-information-container-students{
  background-position: center left;
  background-image: url("../../../images/home/HomeInformation/students.jpg");
}

.home-information-container-competitions > .home-information-circle{
  background: linear-gradient(35.71deg, #9B00FA 45%,#EE4D7A  75%);
}

.home-information-container-social > .home-information-circle{
  background: linear-gradient(217.41deg, #9B00FA 20%,#4F72B8  50%);
}

.home-information-container-events > .home-information-circle{
  background: linear-gradient(35.71deg, #9B00FA 45%,#00B29A  75%);
}

.home-information-container-students > .home-information-circle{
  background: linear-gradient(320.71deg, #EE4D7A 45%,#FF8200  75%);
}

.home-information-circle{
  position: absolute;
  height: 230%;
  width:  90%;
  border-radius: 100%;
  opacity: .7;
} 
.home-information-container-left > .home-information-circle{
  left: -80%;
  bottom: -100%;
}

.home-information-container-right > .home-information-circle{
  right: -80%;
  bottom: -100%;
}

.isVisible.home-information-container-left > .home-information-circle{
  transition: all;
  transition-duration: 5s;
  left: -40%;
}

.isVisible.home-information-container-right > .home-information-circle{
  transition: all;
  transition-duration: 5s;
  right: -40%;
}

.home-information-text{
  position: absolute;
  top: 25%;
  height: 70%;
  width: 33%;  
}

.home-information-container-left > .home-information-text{
  left: -35%;
}

.home-information-container-right > .home-information-text{
  right: -35%;
}

.isVisible.home-information-container-left > .home-information-text{
  transition: all;
  transition-duration: 5s;
  left: 3.5%;
}

.isVisible.home-information-container-right > .home-information-text{
  transition: all;
  transition-duration: 5s;
  right: 3.5%;
}

.home-information-title{
  height: 15%;
  color: #FFF;
  font-weight: 700;
}

.home-information-simple{
  margin-top: 5%;
  height: 80%;
  width: 100%;
  color: #F5F5F5;
}

@media (min-width : 800px){
  .home-information-title{
    font-size: 20px;
  }
  .home-information-simple{
    font-size: 15px;
    line-height: 18px;
  }
}

@media (max-width : 800px) and (min-width : 650px){
  .home-information-title{
    font-size: 18px;
  }
  .home-information-simple{
    font-size: 15px;
    line-height: 18px;
  }
}

@media (max-width : 650px) and (min-width : 575px){
  .home-information-title{
    font-size: 16px;
  }
  .home-information-simple{
    font-size: 13px;
    line-height: 16px;
  }
}

@media (max-width : 575px) and (min-width : 400px){
  .home-information-title{
    font-size: 13px;
  }
  .home-information-simple{
    font-size: 12px;
    line-height: 16px;
  }
}

@media (max-width : 400px) and (min-width : 100px){
  .home-information-title{
    font-size: 11px;
  }
  .home-information-simple{
    font-size: 11.5px;
    line-height: 12px;
  }
}
