/*start of general styles*/
.home-information-container-all{
  width: 100%;
  height: 200%;
}

.home-information-container{
  position: relative;
  width: 100%;
  height: 25%;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.home-information-container-competitions{
  background-position: bottom center;
  background-size: cover;
  background-image: url("../../../images/home/HomeInformation/competitions.jpg");
}

.home-information-container-social{
  background-position: center left;
  background-size: cover;
  background-image: url("../../../images/home/HomeInformation/social.jpg");
}

.home-information-container-events{
  background-position: center left;
  background-size: cover;
  background-image: url("../../../images/home/HomeInformation/events.jpg");
}

.home-information-container-students{
  background-position: center;
  background-size: cover;
  background-image: url("../../../images/home/HomeInformation/students.jpg");
}

.home-information-container-competitions > .home-information-container-layer > .home-information-circle{
  background: linear-gradient(35.71deg, #9B00FA 45%,#EE4D7A  75%);
}

.home-information-container-social > .home-information-container-layer > .home-information-circle{
  background: linear-gradient(217.41deg, #9B00FA 20%,#4F72B8  50%);
}

.home-information-container-events > .home-information-container-layer > .home-information-circle{
  background: linear-gradient(35.71deg, #9B00FA 45%,#00B29A  75%);
}

.home-information-container-students > .home-information-container-layer > .home-information-circle{
  background: linear-gradient(320.71deg, #EE4D7A 45%,#FF8200  75%);
}
.home-information-container > .home-information-container-layer{
  width: 100%;
  height: 100%;
}

.home-information-container-competitions > .home-information-container-layer{
  background-color: rgba(238, 77, 122, 0.3);
}

.home-information-container-social > .home-information-container-layer{
  background-color: rgba(79, 114, 184, 0.3);
}

.home-information-container-events > .home-information-container-layer{
  background-color: rgba(0, 178, 154, 0.3);
}

.home-information-container-students > .home-information-container-layer{
  background-color: rgba(255, 130, 0, 0.3);
}

.isVisible.home-information-container-left > .home-information-container-layer > .home-information-text{
  transition: all;
  transition-duration: 2s;
  left: 3.5%;
}

.isVisible.home-information-container-right > .home-information-container-layer > .home-information-text{
  transition: all;
  transition-duration: 2s;
  right: 3.5%;
}

.home-information-title{
  height: 15%;
  color: #FFF;
  font-weight: 700;
}

.home-information-simple{
  margin-top: 5%;
  height: 80%;
  width: 100%;
  color: #F5F5F5;
}
.isVisible.home-information-container-left > .home-information-container-layer > .home-information-circle{
  transition: all;
  transition-duration: 2s;
  left: -65%;
}

.isVisible.home-information-container-right > .home-information-container-layer > .home-information-circle{
  transition: all;
  transition-duration: 2s;
  right: -65%;
}
.home-information-circle{
  position: absolute;
  border-radius: 100%;
  opacity: .7;
}
.home-information-text{
  position: absolute;
  top: 5%;
}
.home-information-container-right > .home-information-container-layer >.home-information-text{
  text-align: right;
}
/* end of general styles/

/*xs (mobile)*/
@media (max-width: 500px) { 
  .home-information-container-events{
    background-position: center left;
    background-size: cover;
    background-image: url("../../../images/home/HomeInformation/events_small.jpg");
  }
  .home-information-title{
    font-size: 16px;
  }
  .home-information-simple{
    font-size: 83%;
    line-height: 15px;
  }
  .home-information-circle{
    height: 160%;
    width:  150%;
  }

  .home-information-text{
    width: 65%;
  }

  .home-information-container-left > .home-information-container-layer > .home-information-circle{
    left: -80%;
    bottom: -15%;
  }

  .home-information-container-right > .home-information-container-layer > .home-information-circle{
    right: -80%;
    bottom: 15%;
  }

  .home-information-container-down > .home-information-container-layer > .home-information-circle{
    bottom: -60%;
  }

  .home-information-container-down > .home-information-container-layer > .home-information-text{
    top: 25%;
  }

  .home-information-container-left > .home-information-container-layer > .home-information-text{
    left: -35%;
  }

  .home-information-container-right > .home-information-container-layer >.home-information-text{
    text-align: right;
    right: -35%;
  }
  #students .home-information-circle{
    bottom: -30%;
  }

 }

/*s*/
@media (min-width: 500px) {  

  .home-information-title{
    font-size: 16px;
  }
  .home-information-simple{
    font-size: 95%;
    line-height: 15px;
  }
  .home-information-circle{
    height: 160%;
    width:  125%;
  }
  .home-information-text{
    width: 40%;
  }

  .home-information-container-left > .home-information-container-layer > .home-information-circle{
    left: -50%;
    bottom: 0%;
  }

  .home-information-container-down > .home-information-container-layer > .home-information-circle{
    bottom: -70%;
  }

  .home-information-container-down > .home-information-container-layer > .home-information-text{
    top: 33%;
  }

  #students .home-information-circle{
    bottom: -10%;
  }
}
/*m*/
@media (min-width: 768px) {  
  .home-information-title{
    font-size: 20px;
  }
  .home-information-simple{
    font-size: 105%;
    line-height: 17px;
  }
  .home-information-circle{
    height: 160%;
    width:  115%;
  }
  .home-information-text{
    width: 35%;
  }

}
/*l*/
@media (min-width: 950px) { 
  .home-information-title{
    font-size: 20px;
  }
  .home-information-simple{
    font-size: 105%;
    line-height: 19px;
  }
  .home-information-circle{
    height: 180%;
    width:  105%;
  }
  .home-information-text{
    width: 32%;
  }
  #students .home-information-circle{
    left:55%;
    bottom: -27%;
  }
  #competitions .home-information-circle{
    bottom: -27%;
  }
 }
/*xl*/
@media (min-width: 1200px) {

  .home-information-title{
    font-size: 24px;
  }
  .home-information-simple{
    font-size: 125%;
    line-height: 23px;
  }
  .home-information-text{
    width: 28%;
  }
  .home-information-container-down > .home-information-container-layer > .home-information-text{
    top: 25%;
  }
}


